
.available {
  background-color: #01ee38 !important; 
  border-radius: 50%;
  color: black;
}

.booked {
  background-color: #0b28ce !important; 
  border-radius: 50%;
  color: black;
}

.unavailable {
  background-color: #f80707 !important;
  border-radius: 50%;
  color: black;
}
