.center-error {
    display: flex;
width: 100%;
display: flex;
justify-content: center;
padding-top:15px;

}

.forgot-password {
    color: var(--primary);  
    border: none;
    background:transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 100%;
text-align: left;
margin:0;
padding-top:10px;
padding-right: 10px;
}
  
  .forgot-password:hover {
    color: red;  
    background:transparent;

  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; 
  -moz-appearance: textfield; 
  -webkit-appearance: textfield; 
}

#code {
  text-align: center;
}
#code::placeholder {
  text-align: center;
}
.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

html[dir="rtl"] .modal-header .close {
  left: 10px;
  right: auto;
}

@media (min-width: 768px) {
  :dir(rtl) .language-switch {
      direction: rtl;
      right: auto;
      left: 0;
      text-align: right;
      margin: -180px;
  }

  :dir(rtl) .language-switch .notify-item {
      text-align: right;
  }
}

body {
  direction: ltr;
  text-align: left;
}


[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}


[dir="rtl"] input,
[dir="rtl"] textarea {
  text-align: right;
}

[dir="rtl"] .modal-content {
  text-align: right;
}

[dir="rtl"] .form-control {
  text-align: right;
}

[dir="rtl"] .custom-radio-group {
  flex-direction: row-reverse; 
}

[dir="rtl"] .custom-radio-group {
  direction: ltr !important;
  text-align: left !important;
}
html[dir="rtl"] .forgot-password,
body[dir="rtl"] .forgot-password {
  text-align: right;
}
  
html[dir="rtl"] .form-group {
  text-align: right;
}

html[dir="rtl"] .custom-radio-group {
  direction: rtl;
}

html[dir="rtl"] .custom-control-label {
  text-align: right;
  width: 2rem;
  margin-right: 3rem;
}
html[dir="rtl"] .custom-control-input {
  text-align: right;
}

.SignUptutorForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;  
  width: 100%;
  gap:10px;

}

.SignUptutorForm div {
  height: 100%;  
}

.signForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  flex: 1; 
}

.Inputs{
width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  flex: 1;  
}

p {
  font-family: Arial, sans-serif; 
  font-size: 22px; 
  color: #333; 
  line-height: 1.5; 
  text-align: justify; 
  border-radius: 5px; 
}
.xx{
  border: 5px solid red;
}
.no-transform {
  transition: none !important; 
}

.no-transform:hover,
.no-transform:focus {
  transform: none !important; 
  text-decoration: underline !important; 
}
.custom-modal {
  max-width: 100vw; 
  transition: all 0.3s ease; 
}

@media (min-width: 768px) {
  .custom-modal {
    max-width: 60%;
  }
}
  